<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicación de Productos - NodeJS + mongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam cum deleniti non nisi et labore corrupti quas fuga blanditiis ab, repellat odio libero nihil ullam excepturi! Totam tempore officiis suscipit.</p>
    <a class="btn btn-primary btn-lg" href="https://webify.com.ar" target="_blank">Webify</a>
</div>