<div class="card">
    <div class="card-body">
        <h1>Nosotros</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, delectus ipsam voluptatibus, saepe laboriosam iusto corporis mollitia debitis nostrum dolore voluptas officiis at magnam itaque. Quae rerum in, facilis deserunt id cum laborum dolorum officiis, alias dolor perferendis exercitationem dolores?</p>
    </div>
</div>